body {
	background-color: #000000;
	margin: 0px;
	height: 80vh;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-scalable: 0;
}

* {
	box-sizing: border-box;
}

/* Display */
.display {
	height: 20vh;
	width: 100%;
	color: #00ff00;
	background-color: #00000000;
	font-size: 8vw;
	text-align: right;
	border: 8px solid #9500ff;
	padding: 0px;
}

/* Calculator Buttons */
/* Flex Box */
.keys {
	display: flex;
	height: inherit;
	flex: 1 auto;
	flex-wrap: wrap;
}
.keys button {
	width: 25%;
	outline: none;
	height: auto;
	font-size: 8vw;
}
.button {
	height: 30px;
	border: none;
	cursor: pointer;
	border-top: 4px solid transparent;
	border-radius: 12px;
}
.button.function {
	color: #ff0000;
	background-color: #00000000;
	border-bottom: black 8px solid;
	border-top: 4px #ff0000 solid;
}
.button.operator {
	color: #0000ff;
	background-color: #00000000;
	border-bottom: black 8px solid;
	border-top: 4px #0000ff solid;
}
.button.number {
	color: #00ff00;
	background-color: #00000000;
	border-bottom: black 8px solid;
	border-top: 4px #00ff00 solid;
}

/* Simulate Button Press */
.function:active {
	border-top: #00000000 8px solid;
	border-bottom: 4px #ff0000 solid;
}
.operator:active {
	border-top: #00000000 8px solid;
	border-bottom: #0000ff 4px solid;
}
.number:active {
	border-top: #00000000 8px solid;
	border-bottom: 4px #00ff00 solid;
}
